.header-icon{
    height: 40px;
    justify-content: space-between;
    /* background-color: rgb(39, 39, 39); */
    margin-left: 30px;
}
.custom-header{
    display: flex;
    justify-content: space-between;
    min-width: 480px;
}
.header-link{
    color: rgb(207, 148, 38);
    justify-content: right;
}