<div class="main-container">
    <div class="container-flex">
        <div class="title-container">
            <h2>
               <img src="assets\movie-ticket.png">
                Movies
            </h2>
            
        </div>
       

    </div>

    
        <!-- <div class="tarjeta">
            <div class="titulo">Una tarjeta básica</div>
                <div class="cuerpo">
                    <img src="assets/AVENGER2POSTER.jpg" alt="muestra">
                   
                </div>
                <div class="pie">
                    <a href="#">Más información</a>
                </div>
        </div> -->
    
    <div class="container">
        <div class="card">
            <!-- <div class="content-card"> -->
                <a href="">
                    <div class="image">
                        <img src="assets/AVENGER2POSTER.jpg" alt="imagerwer">
                        <div class="details">
                            <h3>Test</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus corrupti earum accusamus libero enim illum eaque modi, nulla dolorum saepe sint molestias a ab, eius quod! Aperiam ex temporibus expedita?</p>
                        </div>
                    </div>
                   
                </a>
               
            <!-- </div> -->
        </div>
    </div>
</div>