<div class="main-container">
    <div class="container-flex">
        <div class="title-container">
            <h2>
               <img src="assets\movie-ticket.png">
                Movies
            </h2>
            
        </div>
    </div>
    <div class="container"  *ngFor="let movie of (moviesLocal | async)">
        <h5>{{movie.title}}</h5> 
    </div>
    <!-- <div class="container"  *ngFor="let movie of (movies | async)">
        <h5>holaaaa</h5>
    </div> -->
    <!-- <div class="container"  *ngFor="let movie of (movies | async)">
        <div class="card">
                <a [routerLink] = "['/movie-details']">
                    <div class="image">
                        <img src="{{movie.thumbnail.path}}.{{movie.thumbnail.extension}}" alt="{{movie.name}}">
                        <div class="details">
                            <h3>{{movie.name}}</h3>
                            <p>{{movie.description}}</p>
                        </div>
                    </div>
                </a>
        </div>
    </div> -->
</div>