<div class="movie-details">
    <div class="main-container">
        <div class="container-flex">
            <div class="title-container">
                <h2>
                    <img src="assets\movie-details.png">
                            {{movie?.title}}
                </h2>
            </div>
        </div>
            
    </div>
    <div class="movie">
        <div class="content-card">
            <div class="character-img">
                <img src="assets/imageNotFound.jpg" alt="imagerwer">
            </div>
            <div class="description modal-wrap">
                <h4>Sinopsis</h4>
              <p class=" image-back">{{movie?.description}}</p>
              <h4>Funciones</h4>
              <div class="container" *ngFor="let function of (functionList | async)">
                
                <button type="button" class="comic-name" (click)="saveFunctionId(function.functionId)">
                    <label for="btn-modal" class="comic-name">
                    {{function?.functionDate}}
                </label>
                </button>
              </div>
              <div class="container">
                <button type="button" class="comic-name" (click)="addFunctionId()">
                    <label for="btn-modal" class="comic-name">
                    + Function
                </label>
                </button>
              </div>
            </div>
        </div>
    </div>
</div>


<input type="checkbox" id="btn-modal">
<div class="modal">
    <div class="contain-modal">
                    <label class="close" for="btn-modal"><img src="./assets/btn-close.png"></label>
                <br>
                
                <div>
        <div class="card-ticket modal-wrap">
                    <img src="assets/AVENGER2POSTER.jpg" alt="imagerwer">
                    <div>
                    <h4 class="title">  {{movie?.title}}</h4>
                    <p >Funcion #{{functionId}}</p>
                    <form [formGroup]="formTicket" >
                        <div>
                            <label># Seats</label>
                            <input class="labelFormTicket" type="number" formControlName="numSets" [class.is-invalid] = "numSetsNoValid">
                            <div>
                                <small *ngIf="numSetsNoValid" class="text-danger">Numero de asientos invalido</small>
                            </div>
                            
                        </div>
                        <div>
                            <!-- <button class="btn-modal btn-buy"  [disabled]="!formTicket.valid" type="submit">
                                <img src="assets/boleto.png">
                            </button> -->
                        </div>
                    </form>
                    </div>
                </div>
                <div>
                    <button class="btn-buy" (click)="createTicket()" ><img src="assets/boleto.png"></button>
                    <!-- <button class="btn-modal btn-buy"  ><img src="assets/boleto.png"></button> -->
                </div>
            </div>
    </div>
</div>



