.movie-details{
    margin-top: 20px;
}

.main-container{
    width: 100%;
    border-color: #ff0000;
}

/* Title */
.container-flex{
    display: flex;
    
}
.title-container{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0px;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
    color: rgb(207, 148, 38);
    /* color: rgb(207, 148, 38); */
}
.title-container img{
    width: 55px;
}

/* Card */
.movie{
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
}

.movie .character-img img{
    border-radius: 5%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.content-card{
    display: flex;
    width: 100%;
}

.description{
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.description h4{
font-weight: 300;
color: rgb(207, 148, 38);
}

.description p{
    font-family:  Courier;
    font-size: 13px;
    text-align: justify;
}
.container{
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.description button{
    color: #000000;
    padding: 10px 20px;
    background: #f3f1f1;

    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.description button:hover{
    background-color: #ffbc0e;
    color: #eceff1;
    transform: scale(1.05);
}


/* Ticket Modal */
.modal{

    background-color: #ff0000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .modal{
    background-color: #ff0000;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
 }

 #btn-modal:checked ~ .modal{
    opacity: 1;
    visibility: visible;
 } 

 .contain-modal{
    width: 450px;
    margin: auto;
    background: #ffffff;
    /* background: #141E30;  
    background: -webkit-linear-gradient(to left, #243B55, #141E30);  
    background: linear-gradient(to left, #243B55, #141E30); */
    border-radius: 10px;
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
    position: relative;
    border-radius: 20px;
    transform: translateY(-30%);
 }
 #btn-modal:checked ~ .modal .contain-modal{
    transform: translateY(0%);
 } 

 .contain-modal .close{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #050505;
    font-size: 15px;
    cursor: pointer;
 }
 #btn-modal{
    display: none;
 }

 .function-id{
    cursor: pointer;
}

.modal-wrap img {
    display: block;
    min-width: 200px;
    max-width: 400px;
    max-height: 210px; 
    border-radius: 10%;
    object-fit: contain;
    height: auto;
    
    float: left;
    margin: 10px;
}
.card-ticket h4{
    color: #ffbc0e;
    font-weight: 300;
    text-align: justify;
}

.btn-buy
 {
    width: 25%;
    margin-left: 37.5%;
    margin-bottom: 10px;
    background-color: rgb(226, 222, 222);
    border: none;
    border-radius: 20px;
    font-weight: bolder;
    height: 60px;
    
 }
 .btn-buy:hover{
    background-color: #ffbc0e;
    color: #eceff1;
    transform: scale(1.05);
 }
 .btn-buy img{
    height: 80%;
 }

 /* FormTicket */
 .labelFormTicket{
    display: inline;
    margin-left: 15px;
    width: 50px;
 }




 /* CREATE FUNCTION */
 body {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 100%;
    color: #1b262c;
    
    margin: 0;
    background-color: #eeeeee;
}
.modal-function{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .modal-function{
    position: fixed;
    top: 0px;
    left: 0;
    background: rgba(0,0,0,0.5);
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
 }
 

#create-function:checked ~ .modal-function{
    opacity: 1;
    visibility: visible;
 } 
 #create-function{
    display: none;
 }

#contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    margin-top: 30px;
    padding: 0;
    width: 100%;
    height: 100%;

    font-family: 'Courier New', Courier, monospace;
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    
    font-size: 100%;
    color:#bbe1fa;
    text-align: center;
    margin-bottom: 20px;
}

.close-create-function{
   text-underline-position: below;
    text-align: right;
}

.close-create-function img{
   
    border-radius: 15px;
    transition: all 0.3s;
}

.titulo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}
.titulo img:hover{
    transform: scale(1.05);
}

#login {
    width: 100%;
    padding: 50px 30px;

    background: #141E30;  
background: -webkit-linear-gradient(to left, #243B55, #141E30);  
background: linear-gradient(to left, #243B55, #141E30);
border-radius: 10px;


    color: #ffffff;
    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: #2c1b1b;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    /* border: 1px solid #ffbc0e; */
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:#1b262c;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #ffffff;
    color:#000000;
    
    margin-top: 10px;
}

#login button:hover {
    background-color: #ffbc0e;
    color:#ffffff;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: #ffbc0e;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: #3282b8;
}

.close-create-function
{
    margin-top: -40;
}
