<div class="movie-details">
    <div class="main-container">
        <div class="container-flex">
            <div class="title-container">
                <h2>
                    <img src="assets\movie-details.png">
                            {{movie?.title}}
                </h2>
            </div>
        </div>
            
    </div>
    <div class="movie">
        <div class="content-card">
            <div class="character-img">
                <img src="assets/imageNotFound.jpg" alt="imagerwer">
            </div>
            <div class="description modal-wrap">
                <h4>Sinopsis</h4>
              <p class=" image-back">{{movie?.description}}</p>
              <h4>Funciones</h4>
              <div class="container" *ngFor="let function of (functionList | async)">
                
                <button type="button"  (click)="saveFunctionId(function.functionId)">
                    <label for="btn-modal" class="function-id">
                    {{function?.functionDate}}
                </label>
                </button>
              </div>
              <div class="container">
                <button type="button">
                    <label for="create-function" class="function-id">
                        Agregar Función
                    </label>
                </button>
              </div>
            </div>
        </div>
    </div>
</div>

<div class="description">
        <div class="crud">
            <button [routerLink]="['/movie-update',movieId]"  type="button">
                    Update
            </button>
        </div>
        <div class="crud">
            <button (click)="deleteMovie()"  type="button">
                    Delete
            </button>
        </div>
</div>
<!-------------------------------------------------------------------- MODAL BUY TICKET ---------------------------------------------------------------------------------->

<input type="checkbox" id="btn-modal">
<div class="modal">
    <div class="contain-modal">
                    <label class="close" for="btn-modal"><img src="./assets/btn-close.png"></label>
                <br>
                <br>
                <div>
        <div class="card-ticket modal-wrap">
                    <img src="assets/AVENGER2POSTER.jpg" alt="imagerwer">
                    <div>
                    <h4 class="title">  {{movie?.title}}</h4>
                    <p >Funcion #{{functionId}}</p>
                    <form [formGroup]="formTicket" >
                        <div>
                            <label># Seats</label>
                            <input class="labelFormTicket" type="number" formControlName="numSets" [class.is-invalid] = "numSetsNoValid">
                            <div>
                                <small *ngIf="numSetsNoValid" class="text-danger">Numero de asientos invalido</small>
                            </div>
                            
                        </div>
                    </form>
                    </div>
                </div>
                <div>
                        <button class="btn-buy" (click)="createTicket()" ><img src="assets/boleto.png"></button>
                </div>
            </div>
    </div>
</div>


<!-------------------------------------------------------------------- MODAL CREATE FUNCTION ------------------------------------------------------------------------------>

<input type="checkbox" id="create-function">
<div class="modal-function">
                <div id="contenedor">
                    <div class="central">
                        <div id="login">
                            <!-- <div class="close-create-function"> -->
                                <label class="close-create-function" for="create-function"><img src="./assets/btn-close.png"></label>
                            <!-- </div> -->
                            <!-- <div class="titulo">
                                <p>Agregar Función</p>
                            </div> -->
                            <form [formGroup]="formFunction" (ngSubmit)="addFunctionId()">
                                <div>
                                    <label>Precio</label>
                                    <input type="number" placeholder="Precio" formControlName="price" >
                                </div>
                                <div>
                                    <label>Fecha</label>
                                    <input type="datetime"  formControlName="functionDate">
                                </div>
                                <div>
                                    <label>Teatro</label>
                                    <input type="number"  formControlName="Teather">
                                </div>
                                <div>
                                    <label>Numero de sillas</label>
                                    <input type="number" formControlName="numberOfSeats">
                                </div>
                                
                                <div>
                                    <button [disabled]="!formTicket.valid" type="submit">
                                        Agregar Funcion
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
</div>



