.movie-details{
    margin-top: 20px;
}

.main-container{
    width: 100%;
    border-color: #ff0000;
    
}

/* Title */
.container-flex{
    display: flex;
    
}
.title-container{
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0px;
    font-weight: 700;
    display: inline-block;
    margin-right: 10px;
    font-size: 25px;
    color: rgb(207, 148, 38);
    /* color: rgb(207, 148, 38); */
}
.title-container img{
    width: 55px;
}

/* Card */
.content-card{
    display: inline-flex;
    width: 100%;
    margin-top: -15px;
    
}
.movie {
    margin-top: 5px;
    
}

.movie .movie-img img{
    border-radius: 5%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.description{
    margin-left: -300px;
    margin-left: 20px;
}

.description h3{
font-family: 'Courier New', Courier, monospace;
font-weight: 300;
color: rgb(207, 148, 38);
}

.description p{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 13px;
    /* text-align: justify; */
    color: rgb(0, 0, 0);
}


.card {
    /* width : 300px; */
    width: 300px;
    height: 400px;
    background-color : #000000;
    /* margin : 10px 10px; */
    padding : 4px 4px;
    border-radius: 5%;
}

.card .image img {
    border-radius: 5%;

    width: 290px;
    height: 390px;
    
    transition: all 500ms ease-out;
    /* object-fit: cover; */
}


/* TEST*/

.movie{
    margin-top: 5px;
    background-color: rgb(255, 255, 255);
}

.movie .character-img img{
    border-radius: 5%;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.content-card{
    display: flex;
    width: 100%;
    /* margin-top: -15px; */
}

.description{
    margin-left: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.description h4{
font-weight: 300;
color: rgb(207, 148, 38);
}

.description p{
    font-family:  Courier;
    font-size: 13px;
    text-align: justify;
}
.container{

    /* background-color: rgb(255, 0, 0); */
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.description button{
    
    /* font-weight: 500; */
    color: #000000;
    padding: 10px 20px;
    background: #f3f1f1;

    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.description button:hover{
    background-color: #ffbc0e;
    color: #eceff1;
    transform: scale(1.05);
}

