<div class="movie-details">
    <div class="main-container">
        <div class="container-flex">
            <div class="title-container">
                <h2>
                    <img src="assets\movie-details.png">
                            {{movie?.title}}
                </h2>
            </div>
        </div>
            
    </div>
    <div class="movie">
        <!-- <div class="content-card">
            <div class="container">
                <div class="card">
                            <div class="image">
                                <img src="assets/imageNotFound.jpg" alt="imagerwer">
                            </div>
                </div>
            </div>
            <div class="modal-wrap description">
                <h3>Sinopsis</h3>
                <p>Avengers: Age of Ultron" sigue a los Vengadores mientras enfrentan una nueva amenaza, Ultron, un inteligencia artificial creado por Tony Stark para proteger la Tierra. Sin embargo, Ultron se vuelve contra sus creadores, creyendo que la única forma de salvar al mundo es erradicar a la humanidad. Los Vengadores, junto con nuevos aliados como la Bruja Escarlata y Quicksilver, luchan contra Ultron en una batalla global que pone a prueba su unidad y fuerza. La película explora conflictos internos, responsabilidades y las consecuencias de las acciones de Stark, mientras establece importantes desarrollos para el Universo Cinematográfico de Marvel.</p>
                <p class=" image-back">{{movie?.description}}</p>
                <h3>Funciones</h3>
                <button>8 am</button>
            </div>
        </div> -->


        <div class="content-card">
            <div class="character-img">
                <img src="assets/imageNotFound.jpg" alt="imagerwer">
            </div>
            <div class="description modal-wrap">
                <h4>Sinopsis</h4>
                <!-- <p>Avengers: Age of Ultron" sigue a los Vengadores mientras enfrentan una nueva amenaza, Ultron, un inteligencia artificial creado por Tony Stark para proteger la Tierra. Sin embargo, Ultron se vuelve contra sus creadores, creyendo que la única forma de salvar al mundo es erradicar a la humanidad. Los Vengadores, junto con nuevos aliados como la Bruja Escarlata y Quicksilver, luchan contra Ultron en una batalla global que pone a prueba su unidad y fuerza. La película explora conflictos internos, responsabilidades y las consecuencias de las acciones de Stark, mientras establece importantes desarrollos para el Universo Cinematográfico de Marvel.</p> -->
              <p class=" image-back">{{movie?.description}}</p>
              <h4>Funciones</h4>
              <div class="container" *ngFor="let functions of (functionList | async)">
                <button>{{functions?.functionDate}}</button>
              </div>
            </div>
        </div>
    </div>



</div>


